<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>22920380110-2h7531scj478olvf0366e5tvc9nhj069.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22920380110-2h7531scj478olvf0366e5tvc9nhj069</string>
	<key>API_KEY</key>
	<string>AIzaSyCfLjX3eWftQ1OKM7vd8_vF9Yq202UTaAY</string>
	<key>GCM_SENDER_ID</key>
	<string>22920380110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BrophyRobotics.FTC-Scouting-App</string>
	<key>PROJECT_ID</key>
	<string>ftc-scouting-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ftc-scouting-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:22920380110:ios:a77ddb5357ba9253</string>
	<key>DATABASE_URL</key>
	<string>https://ftc-scouting-app.firebaseio.com</string>
</dict>
</plist>
